
.test {
    background-color: #F0F0F0;
    margin-left: 50%;
    margin-top: 10px;
    max-width: 600px;
    height: 180px;
    display: flex;
    border-style: outset;
    border-width: 2px;
    box-shadow: -1px -1px 1px #ABADB3;
    border-top-right-radius: 10px;
}

.close {
    width: 28px;
    height: 28px;
}

.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 90%;
    position: relative;
    width: 117px;
    height: 33px;
}

.CE{
    border-width: 1px;
    background-color: #e6e6e6;
    border-top-left-radius: 8px;
    width: 117px;
}

.CE:hover{
    cursor: pointer;
    background-color: #a6f4ff;
}

.CD{
    border-width: 1px;
    background-color: #e6e6e6;
    border-top-right-radius: 8px;
}

.CD:hover{
    cursor: pointer;
    background-color: #a6f4ff;
}

.dashboard01 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 81px;
    margin-left: 30px;
}

.dashboardTexts {
    display: flex;
    flex-direction: row;
}

.dashboardTpPg {
    display: flex;
    margin-top: 81px;
    margin-left: 30px;
    width: 600px;
    height: 400px;
}

.dashboard0 {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 3px;
    margin-left: 1px;
}

.dashboardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    margin-top: 5px;
    height: 33px;
    width: 117px;
    cursor: pointer;
    font-size: 15px;
}

.btnDetalhes {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 33px;
    border-radius: 5px;
    border-width: 1px;
}

.btnDetalhes:hover {
    background-color: #a6f4ff;
}

.dashboardLine {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    border-style: solid;
    border-width: 1px;
}

.grafico1 {
    position: relative;
    bottom: 30%;
    right: 10%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.grafico0 {
    margin-left: 10px;
    position: relative;
    bottom: 30%;
    right: 10%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.grafico2 {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    bottom: 15%;
    right: 15vw;

}

.a {
    height: 250px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}

.b {
    display: flex;
    flex-direction: row;
}

.c {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardDetalhado {
    overflow-x: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 75%;
    background-color: white;
}

.graficoA {
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.graficoB {
    border-radius: 8px;
    left: 20px;
    top: 5px;
    position: relative;
    border-style: solid;
    border-width: 1px;
}

.grafico3 {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    bottom: 15%;
}

.dashboardOk {
    display: flex;
    flex-direction: row;
}

.tlou {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bandeira {
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    height: 40px;
    width: 60px;
    margin-right: 5px;
}

.regiaoImg {
    margin-left: 60px;
    height: 150px;
    width: 180px;
}

.spanName {
    right: 6vw;
    top: 5vw;
    position: relative;
    margin-right: 5px;
}

.bestRegion {
    background-color: white;
    position: relative;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    width: 400px;
    left: -0.5vw;
    height: 12vw;
    bottom: 2vw;
    margin-right: 20px;
}

.btns {
    display: flex;
    background-color: white;
}

.test1 {
    display: grid;
    flex-direction: row;
}

.filtro1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 190px;
    background-color: #f0f0f0;
    border-style: outset;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    height: 45px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
}

h2 {
    border-style: solid;
    border-width: 1px;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 18px;
}

.prices {
    background-color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    height: 75px;
    width: 350px;
    margin: 2px;
    border-radius: 6px;
}

.lupa {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.grafico {
    height: 28px;
    width: 28px;
    margin-right: 5px;
}

.regiaoBtn {
    font-size: 15px;
    border-top-left-radius: 10px;
    width: 12%;
    height: 30px;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
}

.filialBtn {
    font-size: 15px;
    width: 10%;
    height: 30px;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
}

.vendedorBtn {
    cursor: pointer;
    border-style: double;
    border-color: gray;
    height: 30px;
    width: 12%;
    border-width: 1px;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.clienteBtn {
    width: 9%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: double;
    border-color: gray;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.tipoDePagamentoBtn {
    width: 23%;
    height: 30px;
    border-width: 1px;
    cursor: pointer;
    border-style: double;
    border-color: gray;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.produtoBtn {
    font-size: 15px;
    width: 10%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-color: gray;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;

}

.grupoBtn {
    width: 9%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-color: gray;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
}

.fornecedor {
    position: relative;
    overflow-x: scroll;
    height: 300px;
    bottom: 388px;
    border-color: gray;
    border-width: 2px;
    width: 79%;
    border-style: solid;
    margin-left: 155px;
    display: flex;
    flex-direction: column;
}

.fornecedorBtn {
    border-top-right-radius: 12px;
    width: 15%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-color: gray;
    border: none;
}

.modal-content {
    border-style: solid;
    width: 500px;
    height: 150px;
}

.dataIni {
    width: 120px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    height: 52px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.check {
    margin-left: 8px;
}

.dataFin {
    width: 120px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    height: 52px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

table tr:nth-child(even) {
    background-color: #ffffe6;
}

table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.table tr:hover td {
    background-color: #87CEFA;
}

.pesquisar {
    margin-top: 95px;
    width: 117px;
    height: 33px;
}

.checkboxs {
    justify-content: space-between;
    margin-left: 5px;
    display: flex;
    position: absolute;
    margin-top: 110px;
    font-size: 13px;
}

.filtro-tops-content {
    position: relative;
    bottom: 44.5vw;
    left: 8.5vw;
}

.lupa2 {
    top: 3px;
    right: 5px;
    position: relative;
    width: 30px;
    height: 30px;
}

.search-input {
    border-right: none;
    margin-left: 3px;
    margin-top: 2px;
    height: 30px;
    width: 18vw;
}

.search-input-top {
    position: relative;
    top: -8.3px;
    height: 30px;
    width: 400px;
}

.filter01 {
    display: flex;
    flex-direction: row;
}

.icon2 {
    display: flex;
    flex-direction: row-reverse;
}

.icon {
    cursor: pointer;
    margin-top: 2px;
    background-color: lightblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: transparent;
    border-top-color: black;
    border-style: solid;
    border-color: gray;
    border-width: 0.1px;
    height: 28.9px;
    width: 30px;
}

.select {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;

}

.relatorio-content {
    height: 50px;
    width: 120px;
    position: absolute;
    left: 1050px;
    top: 307px;
}

.relatorioBtn {
    width: 117px;
    height: 33px;
}

.topFilialBtn {
    border-top-left-radius: 10px;
    height: 25px;
    border-width: 1px;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    cursor: pointer;
    width: 50px;
}

.topsBtn {
    height: 25px;
    border-width: 1px;
    border-style: outset;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    border-top-right-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 45px;
}

.obs {
    display: flex;
}

.obs2 {
    position: relative;
    top: 38px;
    right: 435px;
}

.ep3 {
    color: #373435;
    font-size: 15px;
    font-weight: bold;
    border-color: gray;
    background-color: white;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 200px;
}

.field {
    color: #373435;
    font-size: 15px;
    font-weight: bold;
    border-color: gray;
    background-color: white;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 100px;
}

.bot찾o {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 33px;
    width: 117px;
    background-color: lightgray;
    border-color: #ABADB3;
}

.bot찾o:hover {
    background-color: #87CEFA;
}

.clear {
    height: 30px;
}

.frontSpan {
    font-size: 15px;
}

.filter-all {
    width: 100px;
    border-style: solid;
    border-width: 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid grey;
}

th {
    font-size: 15px;
    font-weight: bold;
    color: #373435;
    background-color: #ffffff;
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

table tr:nth-child(even) {
    background-color: #ffffe6;
}

table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.table tr td {
    cursor: pointer;
}

.table tr:hover td {
    background-color: #87CEFA;
}

.filter-name {
    width: 355px;
}

.filter-name-cliente {
    width: 300px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.search {
    width: 100%;
    height: 25px;
}

.cifr천es {
    margin-left: 3px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

span{
    margin: 0px;
    padding: 0px;
}

.modal-content {
    display: flex;
    position: absolute;
    border-radius: 12px;
    width: 800px;
    height: 600px;
    left: 400px;
    background-color: white;
    bottom: 100px;
}

.modalBtn {
    cursor: pointer;
    border-radius: 12px;
    border-color: gray;
    border-style: solid;
    margin-top: 5px;
    margin-left: 3px;
    height: 30px;
    font-size: 13px;
}

.checkboxes {
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    justify-content: none;
}

.checkboxes1 {
    position: relative;
    bottom: 14px;
    display: flex;
    padding-left: 6px;
}

.cb {
    text-decoration: none;
    height: 30px;
    border-style: solid;
    border-radius: 8px;
}

.cbText {
    font-size: 11px;
    margin-left: 3px;
}

.Gtext{
    font-size: 13px;
}

.bot찾oEmodal {
    display: flex;
    margin-top: 2px;
}

.search-input-modal {
    margin-top: 5px;
    height: 30px;
    width: 400px;
    border-style: solid;
    border-radius: 12px;
}

.cancel-icon {
    width: 15px;
    height: 14px;
    color: red;
}

.labels {
    width: 1400px;
}

.labels0 {
    width: 1400px;
    display: flex;
    flex-direction: row;
}

@media (max-width:1920px) {
    .filtros {
        top: 10%;
    }

    .ModalDados {
        top: 65%;
    }

    .filtro1 {
        top: 3.5vw;
        left: 4.5vw;
    }

    .btns {
        top: 50%;
        right: 44.1%;
    }

    .relatorio-content {
        top: 33.5%;
        left: 65%;
    }

    .pesquisar {
        top: 15.2%;
        right: 20%;
    }

    .filtro-tops-content {
        bottom: 38.5vw;
        left: 7.8vw;
    }
}

@media (max-width:1600px) {
    .ModalDados {
        top: 65%;
    }

    .filtro1 {
        top: 3.8vw;
        left: 2vw;
    }

    .btns {
        right: 45.1%;
        top: 35%;
    }

    .pesquisar {
        top: 18%;
        right: 15%;
    }

    .relatorio-content {
        top: 36.2%;
        left: 69%;
    }

    .filtros {
        top: 10%;
    }

    .filtro-tops-content {
        bottom: 44.4vw;
        left: 8.5vw;
    }
}

@media (max-width:1440px) {
    .filtro1{
        width: 400px;
    }
}

@media (max-width: 1366px) {
    .search-input {
        width: 230px;
    }

    .filtro1 {
        top: 2.8vw;
        left: 11.3vw;
        width: 400px;
    }

    .obs {
        left: -514px;
    }

    .btns {
        right: 41.7%;
    }

    .ep3{
        width: 55px;
    }

    .filtros {
        width: 95%;
        top: 1%;
    }

    .ModalDados {
        height: 36%;
    }

    .test {
        width: 46%;
    }

    .relatorio-content {
        top: 33.3%;
        left: 58.5%;
    }

    .filtro-tops-content {
        bottom: 50.8vw;
        left: 10.9vw;
    }

    .footer {
        top: 20%;
    }

    .checkboxs{
        top: 14.5%;
    }
}

@media (max-width: 1300px){
    .filtro1{
        top: 3vw;
        left: 10.7vw;
        width: 385px;
    }
}

@media (max-width: 1270px){
    .filtro1{
        top: 3.5vw;
        left: 8.5vw;
        width: 335px;
    }

    .search-input{
        width: 174px;
    }

    .obs{
        left: -470px;
    }
}

@media (max-width:1024px) {

    .ModalDados {
        width: 95%;
        height: 20vh;
    }

    .filtros {
        left: 3%;
    }

    .relatorio-content {
        top: 38.2%;
        left: 64%;
    }
}



@media (min-height: 900px){
    .filtro1{
        top: 4.02vw;
        left: 4.7vw;
    }

    .ModalDados{
        top: 63%;
        height: 37%;
    }

    .relatorio-content{
        left: 67vw;
        top: 14.6vw;
    }

    .filtro-tops-content{
        top: -43.32vw;
        left: 7.5vw;
    }
}

@media (max-width: 800px){
    .frontSpan{
        visibility: hidden;
        font-size: 0px;
    }

    .filtro1{
        top: 4.83vw;
        left: -6.7vw;
    }

    td{
        height: 30px;
    }
    
    .dataIni{
        height: 40px;
    }

    .dataFin{
        height: 40px;
    }

    .select{
        position: relative;
        top: 25%;
        right: 67%;
        height: 30px;
    }

    .checkboxs{
        top: 17%;
    }

    .pesquisar{
        top: 17%;
    }

    .relatorio-content{
        top: 35.2%;
        left: 55%;
    }
}

@media (max-width: 420px){
    .btns{
        left: -30vw;
    }
    .filtro1{
        width: 340px;
        left: -25vw;
        top: 1vw;
    }
    th{
        font-size: 11px;
    }
    .ep3{
        font-size: 11px;
    }
    .search-input{
        width: 150px;
    }
    .obs{
        left: -435px;
    }
    .test{
        width: 350px;
        flex-direction: row;
        position: relative;
        top: 200px;
        right: 50%;
        
    }
    .filtros{
        width: 92%;
        top: 50vw;
    }
    .ModalDados{
        top: 72.56%;
        height: 25%;
    }
    .buttons{
        position: relative;
        top: 75vw;
    }
    .wrapper{
        height: 112vw;
    }
    .pesquisar{
        right: 4%;
        top: -3%;
    }
    .select{
        width: 80px;
        left: -1%;
        top: 0%;
    }
    .checkboxs{
        top: -12%;
    }
    .dataIni{
        height: 60px;
    }
    .dataFin{
        height: 60px;
    }
    .relatorio-content{
        top: 107.6vw;
        left: 10vw;
    }
}
