.top-content{
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: space-between;
}

.caixas-content{
    display: flex;
    flex-direction: row;
}

.data-content{
    display: flex;
}

.caixa-select{
    width: 100px;
}

.p-text{
    font-weight: bold;
    margin-top: 4px;
}

.total-content{
    align-items: center;
    display: flex;
    background-color: #064a8b;
    border-style: solid;
    border-color: #00a5dd;
    width: 25%;
    height: 12vh;
    border-width: 2px;
    margin-left: 10px;
    border-radius: 8px;
    color: white;
}

.total-text{
    margin-left: 3px;
}

.total-caixa-content{
    font-size: 23px;
    background-color: #00a5dd;
    width: 25%;
    margin-top: 5px;
    margin-left: 10px;
    border-style: solid;
    border-color: #064a8b;
    border-radius: 8px;
    border-width: 2px;
    color: white;
}
