.test{
    background-color: #F0F0F0;
    margin-left: 50%;
    margin-top: 10px;
    max-width: 600px;
    height: 198px;
    display: flex;
    border-style: outset;
    border-width: 2px;
    box-shadow: -1px -1px 1px #ABADB3;
    border-top-right-radius: 10px;
}

.filtro-filial-content{
    position: absolute;
    top: 98px;
    left: 140px;
}

.dashboard-label{
    border-color: transparent;
    position: relative;
}

.dashboardTeste{
    border-style: solid;
    border-width: 1px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.ModalDados{
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    top: 69.4%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 37%;
    border-style: solid;
    border-width: 1px;
  }


.dashboard{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 81px;
    margin-left: 30px;
}

.dashboardTexts{
    display: flex;
    flex-direction: row;
}

.dashboardTpPg{
    display: flex;
    margin-top: 81px;
    margin-left: 30px;
    width: 600px;
    height: 400px;
}

.dashboard0{
    display: flex;
    flex-direction: column;
}

label{
    margin-left: 2px;
}

.dashboardBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    margin-top: 5px;
    height: 33px;
    width: 117px;
    cursor: pointer;
    font-size: 15px;
}

.dashboardLine{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    border-style: solid;
    border-width: 1px;
}

.grafico1{
    position: relative;
    bottom: 30%;
    right: 10%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.grafico2{
   position: relative;
   border-style: solid;
   border-width: 1px;
   border-radius: 8px;
   bottom: 15%; 
   right: 15vw;
   
}

.grafico3{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    bottom: 15%;
}

.dashboardOk{
    display: flex;
    flex-direction: row;
}

.tlou{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bandeira{
    margin-left: 10px;
    height: 40px;
    width: 60px;
    margin-right: 5px;
}

.regiaoImg{
    margin-left: 60px;
    height: 150px;
    width: 180px;
}

.spanName{
    right: 6vw;
    top: 5vw;
    position: relative;
    margin-right: 5px;
}

.bestRegion{
    background-color: #d3d3d3;
    position: relative;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    width: 400px;
    left: -0.5vw;
    height: 12vw;
    bottom: 4vw;
}

.btns{
    position: relative;
    top: 30%;
    right: 45.5%;
}

.test1{
    display: grid;
    flex-direction: row;
}

.filtro1{
    top: 3.7vw;
    left: 1.7vw;
    background-color: #F0F0F0;
    width: 600px;
    height: 198px;
    position: absolute;
    border-style: outset;
    border-width: 2px;
    box-shadow: -1px -1px 1px #ABADB3;
}

h1{
    display: flex;
    height: 45px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
}

.prices{
    background-color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    height: 75px;
    width: 350px;
    margin: 2px;
    border-radius: 6px;
}

.lupa{
    cursor: pointer;
    margin-top: 2px;
    height: 30px;
    width: 30px;
}

.grafico{
    height: 28px;
    width: 28px;
    margin-right: 5px;
}

.regiaoBtn{
    font-size: 15px;
    border-top-left-radius: 10px;
    width: 12%;
    height: 30px;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
}

.filialBtn{
    font-size: 15px;
    width: 10%;
    height: 30px;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
}

.vendedorBtn{
    cursor: pointer;
    border-style: double;
    border-color: gray;
    height: 30px;
    width: 12%;
    border-width: 1px;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.clienteBtn{
    width: 9%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: double;
    border-color: gray;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;    
}

.tipoDePagamentoBtn{
    width: 23%;
    height: 30px;
    border-width: 1px;
    cursor: pointer;
    border-style: double;
    border-color: gray;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.produtoBtn{    
    font-size: 15px;
    width: 10%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-color: gray;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;

}

.grupoBtn{
    width: 9%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-color: gray;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
}

.fornecedor{
    position: relative;
    overflow-x: scroll;
    height: 300px;
    bottom: 388px;
    border-color: gray;
    border-width: 2px;
    width: 79%;
    border-style: solid;
    margin-left: 155px;
    display: flex;
    flex-direction: column;
}

.fornecedorBtn{
    border-top-right-radius: 12px;
    width: 15%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-color: gray;
    border: none;
}

.modal-content{
    border-style: solid;
    width: 500px;
    height: 150px;

}

.dataIni{
    width: 120px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    height: 52px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.check{
    margin-left: 8px;
}

.dataFin{
    width: 120px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    height: 52px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

table tr:nth-child(even){
    background-color: #ffffe6;
}
table tr:nth-child(odd){
    background-color: #f0f0f0;   
}

.table tr:hover td{
    background-color: #87CEFA;
}

.pesquisar{
    margin-top: 144px;
    margin-left: 20px;
    width: 117px;
    height: 33px;
    position: absolute;
}

.checkboxs{
    justify-content: space-between;
    margin-left: 5px;
    display: flex;
    position: absolute;
    margin-top: 110px;
    font-size: 13px;
}

.filtros{
    width: 50%;
    left: 3%;
    position: relative;
    margin-top: 10px;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
}

.search-input{
    border-right: none;
    margin-left: 3px;
    margin-top: 2px;
    height: 30px;
    width: 400px;
}

.filter01{
    display: flex;
    flex-direction: row;
}

.icon2{
    display: flex;
    flex-direction: row-reverse;
}

.icon{
    cursor: pointer;
    margin-top: 2px;
    background-color: lightblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: transparent;
    border-top-color: black;
    border-style: solid;
    border-color: gray;
    border-width: 0.1px;
    height: 28.9px;
    width: 30px;
}

.select{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    
}

.relatorio-content{
    height: 50px;
    width: 120px;
    position: absolute;
    left: 1050px;
    top: 307px;
}

.relatorioBtn{
    width: 117px;
    height: 33px;
}

.topFilialBtn{
    border-top-left-radius: 10px;
    height: 25px;
    border-width: 1px;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    cursor: pointer;
    width: 50px;
}

.topsBtn{
    height: 25px;
    border-width: 1px;
    border-style: outset;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    border-top-right-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 45px;
}

.obs{
    position: relative;
    top: 35px;
    right: 517px;
    display: flex;
}

.ep3{
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 100px;
}

.clear{
    margin-top: 2.5px;
    margin-left: 1px;
    height: 30px;
}

.frontSpan{
    display: flex;
    justify-content: center;
}

.filter-all{
    width: 100px;
    border-style: solid;
    border-width: 1px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid grey;
}
th{    
    font-size: 15px;
    font-weight: bold;
    color: #373435;    
    background-color: #ffffff;
    border: 1px solid grey;
}
td{
    border: 1px solid grey;
}
table tr:nth-child(even){
    background-color: #ffffe6;
}
table tr:nth-child(odd){
    background-color: #f0f0f0;   
}
.table tr td{
    cursor: pointer;
}
.table tr:hover td{
    background-color: #87CEFA;
}

.filter-name{
    width: 355px;
    border-style: solid;
    border-width: 1px;
}

.filter-name-cliente{
    width: 300px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.search{
    width: 100%;
    height: 25px;
}

.cifrões{
    margin-left: 3px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.modal-content{
    display: flex;
    position: absolute;
    border-radius: 12px;
    width: 800px;
    height: 600px;
    left: 400px;
    background-color: white;
    bottom: 100px;    
}

.modalBtn{
    cursor: pointer;
    border-radius: 12px;
    border-color: gray;
    border-style: solid;
    margin-top: 5px;
    margin-left: 3px;
    height: 30px;
    font-size: 13px;
}

.checkboxes{
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    justify-content: none;
}

.checkboxes1{
    position: relative;
    bottom: 14px;
    display: flex;
    padding-left: 6px;
}

.cb{
    text-decoration: none;
    height: 30px;
    border-style: solid;
    border-radius: 8px;
}

.cbText{
    font-size: 11px;
    margin-left: 3px;
}

.botãoEmodal{
    display: flex;
    flex-direction: row;
}

.search-input-modal{
    margin-top: 5px;
    height: 30px;
    width: 400px;
    border-style: solid;
    border-radius: 12px;
}

.cancel-icon{
    width: 15px;
    height: 14px;
    color: red;
}

.labels{
    width: 1400px;
}

.labels0{
    width: 1400px;
    display: flex;
    flex-direction: row;
}

@media (max-width:1920px){
    .filtros{
        top: 100%;
    }
    .ModalDados{
        top: 60.5%;
    }
    .filtro1{
        left: 5vw;
    }
    .btns{
        top: 50%;
        right: 44.1%;
    }
    .relatorio-content{
        top: 28.5%;
        left: 63.5%;
    }
    .pesquisar{
        top: 15.2%;
        right: 20%;
    }
}
@media (max-width:1600px){
    .ModalDados{
        top: 70%;
    }
    .filtro1{
        top: 3.8vw;
        left: 2vw;
    }
    .btns{
        right: 45.1%;
        top: 35%;
    }
    .pesquisar{
        top: 18%;
        right: 15%;
    }
    .relatorio-content{
        top: 36.2%;
        left: 69%;
    }
    .filtros{
        top: 10%;
    }
}
@media (max-width:1440px){
    .ModalDados{
        width: 58%;
        height: 48%;
    }
    .test{
        width: 45%;
        margin-left: 53%;
    }
    .search-input{
        width: 310px;
    }
    .filtro1{
        left: 11vw;
        top: 1.7vw;
        width: 430px;
    }
    .pesquisar{
        top: 15%;
        right: 23%;
    }
    .obs{
        right: 425px;
    }
    .btns{
        right: 43.5%;
    }
    .filtros{
        left: 1.5%;
        top: 90%;
        width: 70%;
    }
}
@media (max-width: 1366px){
    .search-input{
        width: 270px;
    }
    .filtro1{
        top: 1.4vw;
        left: 9.5vw;
        width: 420px;
    }
    .obs{
        right: 415px;
    }
    .btns{
        right: 43.7%;
    }
    .filtros{
        width: 95%;
        top: 5%;
    }
    .ModalDados{
        height: 44%;
    }
    .test{
        width: 46%;
    }
    .relatorio-content{
        top: 33.3%;
        left: 58.5%;
    }
}
@media (max-width:1024px){
    .filtro1{
        top: 5.7vw;
        left: -3vw;
    }
    .ModalDados{
        width: 75%;
        height: 280px;
    }
    .filtros{
        top: 12%;
        left: 3%;
    }
    .pesquisar{
        top: 20%;
        right: 12%;
    }
    .relatorio-content{
        top: 38.2%;
        left: 64%;
    }
}